.forecast {
  width: 100%;
  background-color: slateblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.forecast .forecast_wrapper {
  width: 100%;
  background-color: slateblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.forecast .forecast_wrapper h1 {
  width: 100%;
  background-color: slateblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}