.drop-select {
  height: 75px;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  select {
    width: 100px;
    text-transform: capitalize;
    option {
      text-transform: capitalize;
    }
  }
}

.title {
  display: flex;
  justify-content: left;
  margin-top: 15px;
  margin-left: 100px;
  text-transform: capitalize;
}

.content {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  .grid-item {
    padding: 20px;
    font-size: 20px;
    text-align: center;

    img {
      height: 250px;
      width: 250px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
