.contentWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  button {
    padding: 5px;
    margin-bottom: 25px;
  }
  h2,
  p {
    text-transform: uppercase;
  }
}
