.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-color: crimson;
  h1 {
    margin-top: 10vh;
    text-transform: uppercase;
    color: cornsilk;
  }
}
